<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <package id="PS.Build">
    <solution dir="d:\Projects\Services\CIS\trunk" />
  </package>
  <package id="PS.Build.Essentials">
    <solution dir="" />
  </package>
  <package id="PS.Build.Tasks">
    <solution dir="d:\Projects\Services\CIS\trunk" />
    <solution dir="D:\Projects\Foundation\Base\trunk" />
  </package>
</configuration>