<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <package id="PS.Build">
    <solution dir="d:\GitHub\PS.Build.Nuget\" />
    <solution dir="C:\Users\shkolka\Documents\Visual Studio 2015\Projects\ConsoleApplication22" />
  </package>
  <package id="PS.Build.Essentials">
    <solution dir="" />
  </package>
  <package id="PS.Build.Tasks">
    <solution dir="d:\GitHub\PS.Build.Nuget\" />
    <solution dir="C:\Users\shkolka\Documents\Visual Studio 2015\Projects\ConsoleApplication22" />
  </package>
  <package>
    <solution dir="" />
  </package>
</configuration>